<div class="warranty-container">
  <div class="warranty-centers">
    <div class="center">
      <h3>TRUNG TÂM BẢO HÀNH MIỀN BẮC</h3>
      <p>Địa chỉ: 241 Phố Vọng, Phường Đồng Tâm, quận Hai Bà Trưng, TP Hà Nội</p>
      <p>Hotline: 0924.356.856</p>
    </div>
    <div class="center">
      <h3>TRUNG TÂM BẢO HÀNH MIỀN TRUNG</h3>
      <p>Địa chỉ: Lô 10 Hoàng Thị Loan, Quận Liên Chiểu, TP Đà Nẵng</p>
      <p>Tel: 0236 3611788 - 0236 3611688</p>
    </div>
    <div class="center">
      <h3>TRUNG TÂM BẢO HÀNH MIỀN NAM</h3>
      <p>Địa chỉ: 666/35 đường 3/2, Phường 14, Quận 10, TP Hồ Chí Minh</p>
      <p>Hotline: 097.319.6066</p>
      <div class="social-icons">
        <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
        <a href="#" class="email"><i class="fas fa-envelope"></i></a>
        <a href="#" class="phone"><i class="fas fa-phone"></i></a>
        <a href="#" class="rss"><i class="fas fa-rss"></i></a>
      </div>
    </div>
  </div>
</div>
<footer>
  <p>Copyright 2025 &copy; <strong>AKKOGEAR</strong>.</p>
</footer>
